/* The first code snippet overrides the user agent style sheet styling so you are starting from scratch */

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2B2733;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  height: 41px;
  width: 30px;
}

.title-header {
  background-color: #46424D;
  display: flex;
  justify-content: center;
  padding: 1%;
  text-transform: uppercase;
}

/* This section contains elements for the left side of the page */

.left-container-1 {
  border-right: 5px solid #46424D;
  display: inline-block;
  height: 91vh;
  padding: 2%;
  width: 60%;
}

.new-activity-header, .current-activity-header {
  display: inline-block;
  margin: 10px 0;
}

.start-activity, .current-activity {
  background-color: #46424D;
  border-radius: 5px;
  height: 500px;
  padding: 30px 60px;
  width: 100%;
}

.category-select-header {
  margin: 10px 0 10px 8px;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 50px;
}

button {
  align-items: center;
  background: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 0;
  width: 150px;
}

.form-details {
  height: 65%;
  width: 100%;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16px;
  height: 50px;
  width: 100%;
}

.accomplish-input {
  display: block;
  margin-bottom: 70px;
}

.minutes-container {
  display: inline-block;
  margin-right: 30px;
  width: 50%;
}

.seconds-container {
  display: inline-block;
  margin-left: 20px;
  width: 40%
}

.start-button {
  background-color: white;
  border-radius: 5px;
  color: black;
  float: right;
  margin-top: 28px;
  padding: 13px;
  text-transform: uppercase;
  width: 180px;
}

.med-btn-selected {
  border: 1px solid #C278FD;
  color: #C278FD;
}

.study-btn-selected {
  border: 1px solid #B3FD78;
  color: #B3FD78;
}

.exercise-btn-selected {
  border: 1px solid #FD8078;
  color: #FD8078;
}

.hidden-error {
  color: #EFB7EC;
  font-size: 12px;
  position: absolute;
}

.error-image {
  align-items: center;
  display: flex;
  position: absolute;
  width: 20px;

}

.goal-display {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.timer {
  display: flex;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 40px;
}

.start-timer-btn {
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  font-size: 25px;
  height: 250px;
  justify-content: center;
  margin: 0 auto;
  width: 250px;
}

.start-timer-btn-study {
  border: 3px solid #B3FD78;
  border-radius: 50%;
  display: flex;
  font-size: 25px;
  height: 250px;
  justify-content: center;
  margin: 0 auto;
  width: 250px;
}

  .start-timer-btn-meditate {
    border: 3px solid #C278FD;
    border-radius: 50%;
    display: flex;
    font-size: 25px;
    height: 250px;
    justify-content: center;
    margin: 0 auto;
    width: 250px;
}

.start-timer-btn-exercise {
  border: 3px solid #FD8078;
  border-radius: 50%;
  display: flex;
  font-size: 25px;
  height: 250px;
  justify-content: center;
  margin: 0 auto;
  width: 250px;
}

/* This section contains the elements for the right side of the page */

.right-container {
  display: inline-block;
  height: 500px;
  margin: 10px;
  padding: 10px 5px;
  vertical-align: top;
}

.paragraph {
  display: block;
  margin: 0;
  padding-top: 30px;
  text-align: center;
}

/* This section contains the elements for the timer page */

.current-activity-page {
  display: none;
}
