/* The first code snippet was suggested by Amy in my balancing-act feedback
It overrides the user agent style sheet styling so you are starting from scratch
I also added the font and sized the images down */

*,
*:after,
*:before {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
   color: white;
   background-color: #2B2733;
}

img {
  width: 30px;
  display: block;
  height: 41px;
}

.title-header {
  background-color: #46424D;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 1%;
}

.main1 {
  
}

/* This section contains elements for the left side of the page */

.left-container {
  padding: 2%;
  width: 60%;
  display: inline-block;
  border-right: 5px solid #46424D;
  height: 100vh;
}

.new-activity-header, .current-activity-header {
  margin: 10px 0;
  display: inline-block;
}

.start-activity, .current-activity {
  background-color: #46424D;
  width: 100%;
  height: 500px;
  padding: 30px 60px;
  border-radius: 5px;
}

.category-select-header {
  margin: 10px 0 10px 8px;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 50px;
}

button {
  background: none;
  width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 5px 0;
}

.form-details {
  width: 100%;
  height: 65%;
}

input {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
  width: 100%;
  height: 50px;
}

.accomplish-input {
display: block;
margin-bottom: 70px;
}

.minutes-container {
  display: inline-block;
  margin-right: 30px;
  width: 50%;
}

.seconds-container {
display: inline-block;
margin-left: 20px;
width: 40%
}

.start-button {
  float: right;
  position: absolute;
  padding: 13px;
  width: 180px;
  bottom: 100px;
  right: 650px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  border-radius: 5px;
}

.med-btn-selected {
  border: 1px solid #C278FD;
  color: #C278FD;
}

.study-btn-selected {
  border: 1px solid #B3FD78;
  color: #B3FD78;
}

.exercise-btn-selected {
  border: 1px solid #FD8078;
  color: #FD8078;
}

/* :required {
  color: #EFB7EC;
} */

.activity-name-header {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.timer {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 40px;
}

.start-timer-btn {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 3px solid #C278FD;
  margin: 0 auto;
  font-size: 25px;
}

/* This section contains the elements for the right side of the page */

.right-container {
  display: inline-block;
  vertical-align: top;
  height: 500px;
  margin: 10px;
  padding: 10px 5px;
}

.paragraph {
  display: block;
  margin: 0;
  text-align: center;
  padding-top: 30px;
}

/* This section contains the elements for the timer page */
.main2 {
  display: none;
}
